<div class="tiny-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Copyrights@2018 | All Rights Reserve</div>
      </div>
    </div>
  </div>
  <!-- back to top icon -->
  <a href="#0" class="cd-top" title="Go to top">Top</a>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/menumaker.js"></script>
  <!-- animsition -->
  <script type="text/javascript" src="/js/animsition.js"></script>
  <script type="text/javascript" src="/js/animsition-script.js"></script>
  <!-- sticky header -->
  <script type="text/javascript" src="/js/jquery.sticky.js"></script>
  <script type="text/javascript" src="/js/sticky-header.js"></script>
  <!-- testimonial-carousel--> 
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script> 
  <script type="text/javascript" src="/js/testimonial-carousel.js"></script> 
  <!-- Back to top script -->
  <script src="/js/back-to-top.js" type="text/javascript"></script>
  </body>
  </html>