<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <title>Beauty Salon Blog Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fontello.css">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css">
    <!-- Font css -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="logo"> <a href="index.ejs"><img src="images/logo.png" alt=""></a> </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="call-block">
                                <h3 class="call-no">+91 - 9750014453</h3>
                                <p class="call-text">Need any help?</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
                            <div class="time-block">
                                <h3 class="time">Mon-Sun : 10am:07pm</h3>
                                <p class="call-text">Opening Timing</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                            <div class="top-btn"> <a href="contact.ejs" class="btn btn-default">Make Appointment</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navigation -->
    <div class="navigation-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="navigation" id="navigation">
                        <ul>
                            <li class="active"><a href="index.ejs" title="Home" class="animsition-link">Home</a></li>
                            <li><a href="service-list.ejs" title="Service List" class="animsition-link">Service List</a>
                                <ul>
                                    <li><a href="service-list.ejs" title="Service List">Service List</a></li>
                                    <li><a href="service-detail.ejs" title="Service Detail">Service Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="blog-default.ejs" title="Blog" class="animsition-link">News</a>
                                <ul>
                                    <li><a href="blog-default.ejs" title="Blog" class="animsition-link">Blog Default</a></li>
                                    <li><a href="blog-single.ejs" title="Blog Single" class="animsition-link">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="testimonial.ejs" title="Features" class="animsition-link">Features</a>
                                <ul>
                                    <li><a href="testimonial.ejs" title="Testimonial" class="animsition-link">Testimonial</a></li>
                                </ul>
                            </li>
                            <li><a href="pricing.ejs" title="Pricing" class="animsition-link">Pricing</a></li>
                            <li><a href="contact.ejs" title="Contact Us" class="animsition-link">Contact</a> </li>
                            <li><a href="style-guide.ejs" title="Style Guide" class="animsition-link">style guide</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header page-caption">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page-title">News Single</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="post-holder mb30">
                                <div class="post-image"><img src="images/blog-post-1.jpg" class="img-responsive" alt=""></div>
                                <div class="post-content pinside30 outline">
                                    <div class="mb60">
                                        <h1 class="mb20 heading-line">Ask Your Wedding Stylist for These Fall Hair Trends</h1>
                                        <div class="meta"> <span class="meta-date">24 December, 2017</span> <span class="meta-comment">- (10) <a href="#">comments</a></span> <span class="meta-author"> - by <a href="#">admin</a></span> </div>
                                        <p>Lorem ipsum dolor sitameconsectetur adipiscing uspendisse volutpatauris sitamet sagitti stilum nunc justlacinia vitae eroin lorem erosmaximus eornare eroin lorem eros egestas sed nulla lorem aintrdum consectetur seroin magna diam aliquam non leo egete. </p>
                                        <p>Morbi luctus bibendum loreget accumsan quam dictu amet congue luctus tellus id congue lorsite lbero nringilla placeralentesque ligula niseleifend vitae tincidunt fringillanec maurisIn hactasse is platea dictumst aecenas justo blandit eget phareorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas est sed tempus lobortis. Integer imperdiet.</p>
                                        <p>Phasellus velit riscongue eu dapibus qu dapibus vitae tuiam sit amet lorem feugiat, dictuma massa luctus variusestibulum ante ipsum primis in faucibus orciluctus et ultriposueres ome cubilia ones urausce dignissim feugiat sodalenec iaculis mentesent ac tristiquean.</p>
                                        <img src="images/right-img.jpg" class="img-responsive alignright" alt="">
                                        <p>Seronse ortis volutpat portliquam ac tristique lorem hasellus euerat seds posuere ultricen ncussapien ise fringilla lorem pellentesqumi guullam at mamus nibhaese pulvinar lorem venenatis is risus at socursues.</p>
                                        <p>Lorelum non felis ac augue faucibus euismod liquam congue eros vel luctus lorem aliqueuis et duieser justene imperdiet rutrum arcues semtincidunt odiolorem ipsums. </p>
                                        <img src="images/left-img.jpg" class="img-responsive alignleft" alt="">
                                        <p>Resdese ortis volutpat portliquam ac tristique seds posuere ultricen ncussapien ise fringillas lorem pellentesqumi quam congue feugiat nisi felis non auguullam at mamus nibhpulvinar is venenatis is risus at socursues.</p>
                                        <p>Lorelum non felis ac augue faucibus euismod luctus lorem aliquetuis et duieser justenean is aliquamlibero at imperdiet rutrum arcues one semtincidunt odiolorem ipsums. </p>
                                    </div>
                                    <div class="bdr-btm"></div>
                                    <div class="mb30">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                                                <h6 class="mb0 pinside10">SHARE</h6>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 ">
                                                <div class="social pull-right"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bdr-btm"></div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h1 class="section-title">Related Post</h1>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="related-block mb30">
                                                <div class="related-img mb30"><a href="#" class="imghover"><img src="images/related-img-1.jpg" class="img-responsive" alt=""></a></div>
                                                <h4 class="related-title"><a href="#" class="title">The Easiest Way to Remove Long Wearing Matte Liquid Lipstick</a></h4>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="related-block mb30">
                                                <div class="related-img mb30"><a href="#" class="imghover"><img src="images/related-img-2.jpg" class="img-responsive" alt=""></a></div>
                                                <h4 class="related-title"><a href="#" class="title">Secrets to Get Your Blush to Look as Natural as Possible</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bdr-btm"></div>
                                    <div class="next-prev-post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="prev-post">
                                                    <h5 class="prev-link"><a href="#" class="btn-link title">Previous Post</a></h5>
                                                    <h4 class="prev-next-title"><a href="#" class="title">The Easiest Way to Remove Long Wearing Matte Liquid Lipstick</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="next-post">
                                                    <h5 class="next-link"><a href="#" class="btn-link title">Next Post</a></h5>
                                                    <h4 class="next-prev-title"><a href="#" class="title">Secrets to Get Your Blush to Look as Natural as Possible</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bdr-btm"></div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h1 class="section-title">Author Post</h1>
                                        </div>
                                        <div class="author-post mb30 pinside30">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="author-img mb40"><img src="images/author.jpg" class="img-responsive img-circle" alt=""></div>
                                                    <div class="social"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                    <div class="author-detail">
                                                        <h2 class="author-title">Evelyn Horn</h2>
                                                        <p class="mb40">Resdese ortis volutpat portliquam ac tristique sedposus ere ultricen ncussapien ise fringillas lorem istspell entesq pellentesqumi quam congue feugiat nisi umi quam lorem congue feugiat nisi felis non isau.</p>
                                                        <a href="#" class="btn btn-primary">View All Posts</a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bdr-btm"></div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                                            <h1 class="comments-title mb30">(04) Comments</h1>
                                            <div class="comments-area mb40">
                                                <ul class="comment-list listnone">
                                                    <li class="comment">
                                                        <div class="comment-body">
                                                            <div class="">
                                                                <div class="comment-author"><img src="images/user1.jpg" alt="" class="img-circle"> </div>
                                                                <div class="comment-info">
                                                                    <div class="comment-header">
                                                                        <h4 class="user-title mb10">Evelyn Horn</h4>
                                                                        <div class="comment-meta"><span class="comment-meta-date">22 December, 2017</span></div>
                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <p>Eren sdese ortis volutpat portliquam ac tristique sedposus ere ultricen uss apien ise fringillas lrem istspell entesq pellentesqumi .</p>
                                                                    </div>
                                                                    <div class="reply"><a href="#" class="btn btn-default btn-sm">Reply</a></div>
                                                                    <hr>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="childern listnone">
                                                            <li class="comment">
                                                                <div class="comment-body">
                                                                    <div class="">
                                                                        <div class="comment-author"><img src="images/user2.jpg" alt="" class="img-circle"> </div>
                                                                        <div class="comment-info">
                                                                            <div class="comment-header">
                                                                                <h4 class="user-title mb10">Symon Dosis</h4>
                                                                                <div class="comment-meta"><span class="comment-meta-date">22 December, 2017</span></div>
                                                                            </div>
                                                                            <div class="comment-content">
                                                                                <p>Seristique sedposus ere en sdese ortis volutpat portliquam acultricen uss apien ise fringillas lorem istspell entesq pellentesqumi quiate.</p>
                                                                            </div>
                                                                            <div class="reply"><a href="#" class="btn btn-default btn-sm">Reply</a></div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <ul class="comment-list listnone">
                                                    <li class="comment">
                                                        <div class="comment-body">
                                                            <div class="">
                                                                <div class="comment-author"><img src="images/user3.jpg" alt="" class="img-circle"> </div>
                                                                <div class="comment-info">
                                                                    <div class="comment-header">
                                                                        <h4 class="user-title mb10">Hellyn Semon</h4>
                                                                        <div class="comment-meta"><span class="comment-meta-date">22 December, 2017</span></div>
                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <p>Volutpat portliquam ac tristique sedposus ere ultricen uss apien ise fringillas lorem istspell entesq pellen.</p>
                                                                    </div>
                                                                    <div class="reply"><a href="#" class="btn btn-default btn-sm">Reply</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <hr>
                                                <ul class="comment-list listnone">
                                                    <li class="comment">
                                                        <div class="comment-body">
                                                            <div class="">
                                                                <div class="comment-author"><img src="images/user4.jpg" alt="" class="img-circle"> </div>
                                                                <div class="comment-info">
                                                                    <div class="comment-header">
                                                                        <h4 class="user-title mb10">Merly johnson</h4>
                                                                        <div class="comment-meta"><span class="comment-meta-date">22 December, 2017</span></div>
                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <p>Eren sdese ortis volutpat portliquam ac tristique sedposus ere ultricen uss apien ise fringillas lorem istspell entesq pellentesqumi quiate.</p>
                                                                    </div>
                                                                    <div class="reply"><a href="#" class="btn btn-default btn-sm">Reply</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bdr-btm"></div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-md-12 col-sm-12">
                                            <div class="leave-comments">
                                                <!-- leave comments -->
                                                <h1 class="reply-title  mb40">Leave A Comment</h1>
                                                <form class="reply-form">
                                                    <div class="row">
                                                        <!-- Textarea -->
                                                        <div class="form-group">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="control-label" for="textarea">Comment:</label>
                                                                <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder=" "></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-7 col-sm-12 col-xs-12">
                                                            <!-- Text input-->
                                                            <div class="form-group">
                                                                <label class="control-label" for="name">Name:</label>
                                                                <input id="name" name="name" type="text" class="form-control" placeholder=" " required>
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="col-lg-4 col-md-7 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label" for="email">Email:</label>
                                                                <input id="email" name="email" type="text" class="form-control" placeholder="" required>
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="col-lg-4 col-md-7 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label" for="website">Website:</label>
                                                                <input id="website" name="website" type="text" class="form-control" placeholder="" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <!-- Button -->
                                                            <div class="form-group">
                                                                <button id="singlebutton" name="singlebutton" class="btn btn-default">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget-search custom-search-input">
                                    <div class="input-group  ">
                                        <input type="text" class="search-query form-control" placeholder="Search">
                                        <span class="input-group-btn">
                  <button class="btn btn-danger" type="button"> <i class="fa fa-search"></i> </button>
                  </span> </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-categories">
                                    <h3 class="widget-title">Categories</h3>
                                    <ul class="listnone pinside40 outline">
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Hair Style</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Makeup</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Facial</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Waxing</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Body Massage</a></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">Nail polish</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-recent-post">
                                    <h3 class="widget-title">Recent Post</h3>
                                    <div class="listnone pinside40 outline">
                                        <div class="recent-block">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3">
                                                    <div class="recent-img"><a href="#" class="imghover"><img src="images/recent-post-1.jpg" class="img-responsive" alt=""></a></div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9">
                                                    <h3 class="recent-title"><a href="#" class="title">The Easiest Way to Remove Long Wearing Matte Liquid Lipstick</a></h3>
                                                    <div class="meta"><span class="meta-date">24 December,2017</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-block">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3">
                                                    <div class="recent-img"><a href="#" class="imghover"><img src="images/recent-post-2.jpg" class="img-responsive" alt=""></a></div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9">
                                                    <h3 class="recent-title"><a href="#" class="title">Secrets to Get Your Blush to Look as Natural as Possible</a></h3>
                                                    <div class="meta"><span class="meta-date">23 December,2017</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-block">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3">
                                                    <div class="recent-img"><a href="#" class="imghover"><img src="images/recent-post-3.jpg" class="img-responsive" alt=""></a></div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9">
                                                    <h3 class="recent-title"><a href="#" class="title">Ask Your Wedding Stylist for These Fall Hair Trends</a></h3>
                                                    <div class="meta"><span class="meta-date">22 December,2017</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-archives">
                                    <h3 class="widget-title">archives</h3>
                                    <ul class="listnone pinside40 outline">
                                        <li><i class="fa fa-caret-right"></i> <a href="#">March</a> <strong>(2016)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">February</a> <strong>(2016)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">January</a> <strong>(2016)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">December</a> <strong>(2015)</strong></li>
                                        <li><i class="fa fa-caret-right"></i> <a href="#">November</a> <strong>(2015)</strong></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-tags outline">
                                    <h3 class="widget-title">Tags</h3>
                                    <div class="pinside40"> <a href="#">Hair Style</a> <a href="#">Makeup</a> <a href="#">facial</a> <a href="#">Waxing</a> <a href="#">Body Massage</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-widget bg-white pinside30 mb30">
                        <div class="logo mb30"> <a href="images/logo.png"><img src="images/logo.png" class="img-responsive" alt=""></a> </div>
                        <p class="mb30">Cras ut mauris fermentum pulvinar us utempus magivamus molestie molestie pulvin estibulum acvehicula erurabitur arcuornare ipsum.</p>
                        <div class="footer-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Info</h2>
                        <ul class="listnone">
                            <li>
                                <div class="row">
                                    <div class="col-md-2"><i class="fa fa-phone"></i></div>
                                    <div class="col-md-10">
                                        <h4 class="call-no"><a href="contact.ejs">+91 - 9750014453</a></h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
                                    <div class="col-md-10">
                                        <h4 class="mail-text"><a href="contact.ejs">beautysalon@gmail.com</a></h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-2"><i class="fa fa-clock-o"></i></div>
                                    <div class="col-md-10">
                                        <h4 class="time-text"><a href="contact.ejs">Mon-sun : 10am : 07pm</a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h2 class="footer-title">Quick Links</h2>
                        <ul class="listnone">
                            <li><i class="fa fa-caret-right"></i><a href="index.ejs">Home</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="service-list.ejs">Services</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="testimonial.ejs">Testimonial</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="blog-default.ejs">News</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="pricing.ejs">Pricing</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="contact.ejs">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Copyrights@2017 | All Rights Reserve</div>
            </div>
        </div>
    </div>
    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.js"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js"></script>
    <script type="text/javascript" src="js/animsition-script.js"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript"></script>
</body>

</html>