<%-include('partials/header.ejs')%>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">Pricing</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="/images/pricing-img-1.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Nail Polish</h2>
            <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>MANICURE.......................................<span class="meta-price">$30</span></li>
              <li>SIMPLE NAILPAINT............................<span class="meta-price">$10</span></li>
              <li>NAIL PAINT DESIGN...........................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="/images/pricing-img-2.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Make up</h2>
            <p class="mb30">Near eque blandit egestas is eleifend utcondimentum nec tellamac lorem sceleris ellent beauty salon.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>MAKEUP PARTY....................................<span class="meta-price">$30</span></li>
              <li>BRIDAL MAKEUP...................................<span class="meta-price">$10</span></li>
              <li>NEUTRAL EYE........................................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="/images/pricing-img-3.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Hair style</h2>
            <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>HAIR CUT AND STYLE.........................<span class="meta-price">$30</span></li>
              <li>Highlights with a Cut..................<span class="meta-price">$10</span></li>
              <li>TEXTURE AND CURL..........................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="/images/pricing-img-4.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Facial</h2>
            <p class="mb30">Beauty salon eque blandit egestas isone eleifend ut condimentum nec tellamace sceleris ellentsque maleusada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>Brightening................................<span class="meta-price">$30</span></li>
              <li>Anti- Aging...................................<span class="meta-price">$10</span></li>
              <li>Moisturizing..................................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="/images/pricing-img-5.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Waxing</h2>
            <p class="mb30">Blandit near eque egestas is eleifend utcondimentum nec tellamac lorem sceleris ellent beauty salon.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>EYEBROW ARCH.....................................<span class="meta-price">$30</span></li>
              <li>Full Body..............................................<span class="meta-price">$10</span></li>
              <li>UNDERARM.............................................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <div class="price-img"><img src="/images/pricing-img-6.jpg" class="img-responsive" alt=""></div>
          <div class="price-content pinside30">
            <h2 class="price-title mb10">Body Massage</h2>
            <p class="mb30">Beauty salon blandit egestas is eleifend ut condimente umnec tellamac sceleris ellentesque malesuada.</p>
            <ul class="listnone mb40 text-uppercase">
              <li>DEEP TISSUE MASSAGE.........................<span class="meta-price">$30</span></li>
              <li>DESERT HOT STONE MASSAGe............<span class="meta-price">$10</span></li>
              <li>SWEDISH MASSAGE..............................<span class="meta-price">$25</span></li>
            </ul>
            <div class="text-center"> <a href="#" class="btn btn-default">book now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-widget bg-white pinside30 mb30">
          <div class="logo mb30"> <a href="/images/logo.png"><img src="/images/logo.png" class="img-responsive" alt=""></a> </div>
          <p class="mb30">Cras ut mauris fermentum pulvinar us utempus magivamus molestie molestie pulvin estibulum acvehicula erurabitur arcuornare ipsum.</p>
          <div class="footer-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget footer-contact">
          <h2 class="footer-title">Contact Info</h2>
          <ul class="listnone">
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-phone"></i></div>
                <div class="col-md-10">
                  <h4 class="call-no"><a href="/admin/contact">+91 - 9750014453</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
                <div class="col-md-10">
                  <h4 class="mail-text"><a href="/admin/contact">beautysalon@gmail.com</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-clock-o"></i></div>
                <div class="col-md-10">
                  <h4 class="time-text"><a href="/admin/contact">Mon-sun : 10am : 07pm</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h2 class="footer-title">Quick Links</h2>
          <ul class="listnone">
            <li><i class="fa fa-caret-right"></i><a href="/admin">Home</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/serviceList">Services</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/pricing">Pricing</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/contact">Contact</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer.ejs')%>
