<%-include('partials/header.ejs')%>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">Service Single</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="service-single-block mb30">
              <div class="service-single-img"> <img src="images/service-single.jpg" class="img-responsive" alt=""></div>
              <div class="service-single-content pinside30 outline">
                <h1 class="section-title">Nail Polish</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipism porttitor suscipit lacus et bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeorbi vehicula congues sapien eu bibenduteger posuere dolor non nulla elementum roin auctodio eget molestie templla in sem ullamcorper tempus purus nectincidunt veliurabitur faucibus velest.</p>
                <p>Sedpellentesque dui necrutrum tincidunuisque sagittis placerat eratid interdum ipsum tempors in molestie arcueu sagittis nisluis urnametus pulvinar idpulvinar condimentum uturpi sraesent is lobortis noneque vitae suscip enean lacus urna tincidunt velarcu acvolutpat venenatis.</p>
                <img src="images/service-right-img.jpg" class="img-responsive alignright" alt="">
                <p>Derum sum dolor sit amet consectetur ones is adipism porttitor suscipit lacus et bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostraper inceptos vehicul.</p>
                <p>Lorem ipsum dolor sit amet consectetur ones adipism porttitor suscipit lacus et bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostraper inceptos jiehise.</p>
                <img src="images/service-left-img.jpg" class="img-responsive alignleft" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur ones adipism porttitor suscipit lacus et bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostraper inceptos vehicul.</p>
                <p>Consectetur ones adipism porttitosum dolor sit amet suscipit lacuset bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostraper inceptos vehicul.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="sidenav pinside30 mb30">
              <ul class="listnone sidenav-outline">
                <li><i class="fa fa-caret-right"></i> <a href="/admin/serviceDetails">Hair Style</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="/admin/serviceDetails">Makeup</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="/admin/serviceDetails">Facial</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="/admin/serviceDetails">Waxing</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="/admin/serviceDetails">Body Massage</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="/admin/serviceDetails" class="active">nail polish</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="price-block outline mb30">
              <div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div>
              <div class="price-content pinside30">
                <h2 class="price-title mb10">Nail Polish</h2>
                <p class="mb30">Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.</p>
                <ul class="listnone mb40 text-uppercase">
                  <li>MANICURE.....................................<span class="meta-price">$30</span></li>
                  <li>SIMPLE NAILPAINT.........................<span class="meta-price">$10</span></li>
                  <li>NAIL PAINT DESIGN.......................<span class="meta-price">$25</span></li>
                </ul>
                <div class="text-center"> <a href="/admin/pricing" class="btn btn-default">book now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-widget bg-white pinside30 mb30">
          <div class="logo mb30"> <a href="images/logo.png"><img src="images/logo.png" class="img-responsive" alt=""></a> </div>
          <p class="mb30">Cras ut mauris fermentum pulvinar us utempus magivamus molestie molestie pulvin estibulum acvehicula erurabitur arcuornare ipsum.</p>
          <div class="footer-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget footer-contact">
          <h2 class="footer-title">Contact Info</h2>
          <ul class="listnone">
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-phone"></i></div>
                <div class="col-md-10">
                  <h4 class="call-no"><a href="/admin/contact">+91 - 9750014453</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
                <div class="col-md-10">
                  <h4 class="mail-text"><a href="/admin/contact">beautysalon@gmail.com</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-clock-o"></i></div>
                <div class="col-md-10">
                  <h4 class="time-text"><a href="/admin/contact">Mon-sun : 10am : 07pm</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h2 class="footer-title">Quick Links</h2>
          <ul class="listnone">
            <li><i class="fa fa-caret-right"></i><a href="/admin">Home</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/serviceList">Services</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/testimonial">Testimonial</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/blogDefault">News</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/pricing">Pricing</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/contact">Contact</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer.ejs')%>
