<%-include('partials/header.ejs')%>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">Beauty Saloon Services</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="/admin/serviceDetails" class="title">Hair Style</a></h2>
            <p class="mb40">Cras auctor laoreet duid temsem cursus sedenean elementumest vitae.</p>
            <a href="/admin/serviceDetails" class="btn-link">Read More </a> </div>
          <div class="service-img"> <img src="/images/service-1.jpg" class="img-responsive" alt=""> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="/admin/serviceDetails" class="title">Makeup</a></h2>
            <p class="mb40">Maecenas sitamet venenatis nulla eget lobortis loreduis lorem eget nulla.</p>
            <a href="/admin/serviceDetails" class="btn-link">Read More </a> </div>
          <div class="service-img"> <img src="/images/service-2.jpg" class="img-responsive" alt=""> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="/admin/serviceDetails" class="title">Facial</a></h2>
            <p class="mb40">Maecenas sitamet venenatis nulla eget lobortis loreduis lorem eget nulla.</p>
            <a href="/admin/serviceDetails" class="btn-link">Read More </a> </div>
          <div class="service-img"> <img src="/images/service-3.jpg" class="img-responsive" alt=""> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="/admin/serviceDetails" class="title">Nail Polish</a></h2>
            <p class="mb40">Maecenas sitamet venenatis nulla eget lobortis loreduis lorem eget nulla.</p>
            <a href="/admin/serviceDetails" class="btn-link">Read More </a> </div>
          <div class="service-img"> <img src="/images/service-4.jpg" class="img-responsive" alt=""></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="/admin/serviceDetails" class="title">Waxing</a></h2>
            <p class="mb40">Cras auctor laoreet duid temsem cursus sedenean elementumest vitae.</p>
            <a href="/admin/serviceDetails" class="btn-link">Read More </a> </div>
          <div class="service-img"><img src="/images/service-5.jpg" class="img-responsive" alt=""></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="/admin/serviceDetails" class="title">Body Massage</a></h2>
            <p class="mb40">Maecenas sitamet venenatis nulla eget lobortis loreduis lorem eget nulla.</p>
            <a href="/admin/serviceDetails" class="btn-link">Read More </a> </div>
          <div class="service-img"><img src="/images/service-6.jpg" class="img-responsive" alt=""> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-widget bg-white pinside30 mb30">
          <div class="logo mb30"> <a href="/images/logo.png"><img src="/images/logo.png" class="img-responsive" alt=""></a> </div>
          <p class="mb30">Cras ut mauris fermentum pulvinar us utempus magivamus molestie molestie pulvin estibulum acvehicula erurabitur arcuornare ipsum.</p>
          <div class="footer-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget footer-contact">
          <h2 class="footer-title">Contact Info</h2>
          <ul class="listnone">
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-phone"></i></div>
                <div class="col-md-10">
                  <h4 class="call-no"><a href="/admin/contact">+91 - 9750014453</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
                <div class="col-md-10">
                  <h4 class="mail-text"><a href="/admin/contact">beautysalon@gmail.com</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-clock-o"></i></div>
                <div class="col-md-10">
                  <h4 class="time-text"><a href="/admin/contact">Mon-sun : 10am : 07pm</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h2 class="footer-title">Quick Links</h2>
          <ul class="listnone">
            <li><i class="fa fa-caret-right"></i><a href="/admin">Home</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/serviceList">Services</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/pricing">Pricing</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/contact">Contact</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer.ejs')%>
