<%-include('partials/header.ejs')%>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">Styleguide</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">Font Family</h1>
          <h3> Heading Font : <small>Libre Baskerville</small> </h3>
          <h3> Base Font : <small>Lato</small> </h3>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb10">Heading title    -    30px</h1>
          <h2 class="mb10">Heading title    -    20px</h2>
          <h3 class="mb10">Heading title    -    18px</h3>
          <h4 class="mb10">Heading title   -    16px</h4>
          <h5 class="mb10">Heading title    -    14px</h5>
          <h6 class="mb10">Heading title    -    12px</h6>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">Colors</h1>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
              <div class="box-default-color"> </div>
              <div class="box-info">
                <h6 class="mt20">DEFAULT</h6>
                <h5>#cda34d</h5>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
              <div class="box-primary-color"> </div>
              <div class="box-info">
                <h6 class="mt20">PRIMARY</h6>
                <h5>#d30050</h5>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
              <div class="box-heading-color"></div>
              <div class="box-info">
                <h6 class="mt20">HEADING</h6>
                <h5>#2f2e2c</h5>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
              <div class="box-secondary-color"> </div>
              <div class="box-info">
                <h6 class="mt20">BASE</h6>
                <h5>#686663</h5>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
              <div class="box-bg-color"> </div>
              <div class="box-info">
                <h6 class="mt20">BG COLOR</h6>
                <h5>#f6f3ec</h5>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center"></div>
          </div>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">Base Copy</h1>
          <p>Lorem ipsum dolor sit ametest link adipiscing elitullam dignissim convallis esuisque aliquamonec faucibuunc iaculis suscipit duiam sit amet sem Aliquam libero nisi imperdiet atincidunt nec gravida vehicula nisraesent mattis massa quis luctus fermentum turpis mi volutpat justoeu volutpat enim diam eget metusaecenas ornare toronec sed tellus eget sapien fringilla nonumm aurisa anteusp endisse quam seconsequat commodo vitae feugiat in nuncorbi mperdiet augue quislorem  tellusorbi aliquam semper nibh aliquam variusnisl sagittis facilisis raesent convallis venenatis dolor a cursus ipsum imperdiet etIn pretium ligula elitt lorem ipsuk egestas purus aliquam ided ultrices tortordolor at commodo metus pulvinar velInteger dictum nisl id magna condimentum eleifend. </p>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-holder mb30 bg-default pinside30 text-white text-center">
          <div class="quote-block"><span class="quote-left">“</span>
            <h1 class="text-white"><strong>BEAUTY</strong><br>
              Begins the Moment You<br>
              Decide to Be<br>
              <strong>YOURSELF</strong></h1>
            <span class="text-white small">- MERRY SINTHEN</span> <span class="quote-right">”</span></div>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">List Types</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="mb30">
                <h2 class="mb10">Unordered List</h2>
                <ul class="nopadding">
                  <li>Interdum et malesuada fames acante.</li>
                  <li>Pellentesque auctor felisid maximus aliquet.</li>
                  <li>Interdum et malesuada fames acante.</li>
                  <li>Phasellus vitae dictum diam vitae condime.</li>
                  <li>Aliquam hendrerit tempus neque a eleifend. </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h2 class="mb10">Unordered List</h2>
              <ol class="nopadding">
                <li>Interdum et malesuada fames acante.</li>
                <li>Pellentesque auctor felisid maximus aliquet.</li>
                <li>Interdum et malesuada fames acante.</li>
                <li>Phasellus vitae dictum diam vitae condime.</li>
                <li>Aliquam hendrerit tempus neque a eleifend. </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="mb20">Buttons</h1>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"> <a href="#" class="btn btn-primary btn-lg mb10">Large button</a> <a href="#" class="btn btn-default btn-lg">Large button</a> </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"> <a href="#" class="btn btn-primary mb10">Default button</a> <a href="#" class="btn btn-default">Default button</a> </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"><a href="#" class="btn btn-primary btn-sm">Small button</a> <a href="#" class="btn btn-default btn-sm">Small button</a> </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"> <a href="#" class="btn btn-primary btn-xs">Extra small button</a> <a href="#" class="btn btn-default btn-xs">Extra small button</a> </div>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">Form Element</h1>
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="sr-only control-label" for="text-field">Text Field</label>
                <input id="text-field" name="text-field" type="text" class="form-control" placeholder="Text Field" required>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="sr-only control-label" for="textarea">Text Area</label>
                <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder="Text Area"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="bdr-btm"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">Tables</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Table Header 1</th>
                <th>Table Header 2</th>
                <th>Table Header 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Division 1</td>
                <td>Division 2</td>
                <td>Division 3</td>
              </tr>
              <tr>
                <td>Division 1</td>
                <td>Division 2</td>
                <td>Division 3</td>
              </tr>
              <tr>
                <td>Division 1</td>
                <td>Division 2</td>
                <td>Division 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-widget bg-white pinside30 mb30">
          <div class="logo mb30"> <a href="images/logo.png"><img src="images/logo.png" class="img-responsive" alt=""></a> </div>
          <p class="mb30">Cras ut mauris fermentum pulvinar us utempus magivamus molestie molestie pulvin estibulum acvehicula erurabitur arcuornare ipsum.</p>
          <div class="footer-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget footer-contact">
          <h2 class="footer-title">Contact Info</h2>
          <ul class="listnone">
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-phone"></i></div>
                <div class="col-md-10">
                  <h4 class="call-no"><a href="contact.ejs">+91 - 9750014453</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
                <div class="col-md-10">
                  <h4 class="mail-text"><a href="contact.ejs">beautysalon@gmail.com</a></h4>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2"><i class="fa fa-clock-o"></i></div>
                <div class="col-md-10">
                  <h4 class="time-text"><a href="contact.ejs">Mon-sun : 10am : 07pm</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h2 class="footer-title">Quick Links</h2>
          <ul class="listnone">
            <li><i class="fa fa-caret-right"></i><a href="/admin">Home</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/serviceList">Services</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/testimonial">Testimonial</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/blogDefault">News</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/pricing">Pricing</a></li>
            <li><i class="fa fa-caret-right"></i><a href="/admin/contact">Contact</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer.ejs')%>
